img {
    width: 150px;
}

.accordion-button {
    background: #DBF4A7;
}

.accordion {    
    z-index: -1 !important;
}

.accordion-body {
    background: #D9DBF1;
}

.add-todo {
    background-color: #8E9DCC;
}

.btn {
    border-radius: 0px;
    justify-content: right;
    z-index: 999 !important;
}

@media screen and (max-width: 576px){
    .todo-list {
        font-size: 12px; 
    }

    .btn {
        font-size: 14px;
        padding: 3px 3px 3px 3px;
    }

    .accordion-button {
        padding: 5px 20px 5px 20px;
    }
}